In [1]:
import pandas as pd
import numpy as np
import talib
import warnings

In [2]:
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('อัตราแลกเปลี่ยนย้อนหลัง XAU_USD.csv', thousands=',')
df.columns = ['Date', 'Close', 'Open', 'High', 'Low', '%Change']

data = df[['Date', 'Open', 'High', 'Low', 'Close']]
data_lag1 = data.shift(1)

data['Open_0'] = data['Open']
data['STD5_Open_0'] = talib.STDDEV(data['Open'], timeperiod=5)
data['RSI14_Open_0'] = talib.RSI(data['Open'], timeperiod=14)
data['ATR14_0'] = talib.ATR(data_lag1['High'], data_lag1['Low'], data_lag1['Close'], timeperiod=14)

data['High_0'] = data['High']
data['Low_0'] = data['Low']

data_out = data.copy()
data_out = data_out.dropna()
data_out = data_out.drop(['Open', 'High', 'Low', 'Close'], axis=1)
data_out.to_csv('xauusd_dataset.csv', index=False)
data_out.to_csv('../xauusd_dataset.csv', index=False)

data_out

,Date,Open_0,STD5_Open_0,RSI14_Open_0,ATR14_0,High_0,Low_0
15,"Jan 22, 2010",1094.65,16.002156,48.916983,21.157143,1099.15,1082.30
16,"Jan 25, 2010",1091.05,19.140627,47.810511,20.849490,1104.20,1091.05
17,"Jan 26, 2010",1098.40,17.289563,50.283112,20.299526,1103.55,1085.80
18,"Jan 27, 2010",1097.70,6.981647,50.039957,20.117417,1102.70,1083.65
19,"Jan 28, 2010",1087.80,4.014549,46.607252,20.041173,1096.35,1074.15
...,...,...,...,...,...,...,...
3060,"Oct 01, 2021",1756.91,11.583065,45.262337,24.978090,1764.40,1749.36
3061,"Oct 04, 2021",1762.15,13.627407,47.022462,24.268227,1771.06,1747.23
3062,"Oct 05, 2021",1769.75,16.728536,49.556036,24.236925,1771.03,1748.56
3063,"Oct 06, 2021",1760.45,14.966018,46.618049,24.110716,1765.78,1745.45
3064,"Oct 07, 2021",1762.74,4.198647,47.444297,23.840665,1767.45,1751.38