In [1]:
import pandas as pd
import numpy as np
import talib
import warnings

In [2]:
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('ราคาย้อนหลัง BTC_USD Bitfinex.csv', thousands=',')
df.columns = ['Date', 'Close', 'Open', 'High', 'Low', 'Volume', '%Change']

data = df[['Date', 'Open', 'High', 'Low', 'Close']]
data_lag1 = data.shift(1)

data['Open_0'] = data['Open']
data['STD5_Open_0'] = talib.STDDEV(data['Open'], timeperiod=5)
data['RSI14_Open_0'] = talib.RSI(data['Open'], timeperiod=14)
data['ATR14_0'] = talib.ATR(data_lag1['High'], data_lag1['Low'], data_lag1['Close'], timeperiod=14)

data['High_0'] = data['High']
data['Low_0'] = data['Low']

data_out = data.copy()
data_out = data_out.dropna()
data_out = data_out.drop(['Open', 'High', 'Low', 'Close'], axis=1)
data_out.to_csv('btcusd_dataset.csv', index=False)
data_out.to_csv('../btcusd_dataset.csv', index=False)

data_out

,Date,Open_0,STD5_Open_0,RSI14_Open_0,ATR14_0,High_0,Low_0
15,"Jan 16, 2016",359.0,31.410482,25.549958,17.128571,392.4,353.2
16,"Jan 17, 2016",388.4,29.490514,39.030905,18.705102,392.8,378.8
17,"Jan 18, 2016",382.0,28.087193,37.441530,18.369023,389.4,375.1
18,"Jan 19, 2016",387.0,22.703973,39.513811,18.078379,388.4,377.4
19,"Jan 20, 2016",378.9,10.595773,37.355017,17.572780,428.0,375.0
...,...,...,...,...,...,...,...
2101,"Oct 03, 2021",47675.0,2978.306055,56.721567,2529.504586,49187.0,47124.0
2102,"Oct 04, 2021",48243.0,2716.817108,57.960152,2496.182830,49503.0,46951.0
2103,"Oct 05, 2021",49232.0,1868.045331,60.101296,2500.169771,51891.1,49065.0
2104,"Oct 06, 2021",51508.0,1370.114360,64.573060,2523.450501,55724.0,50448.0
2105,"Oct 07, 2021",55331.0,2792.307247,70.544777,2720.061180,55339.0,53444.0