In [1]:
import pandas as pd
import numpy as np
import talib
import warnings

In [2]:
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('อัตราแลกเปลี่ยนย้อนหลัง EUR_USD.csv', thousands=',')
df.columns = ['Date', 'Close', 'Open', 'High', 'Low', '%Change']

data = df[['Date', 'Open', 'High', 'Low', 'Close']]
data_lag1 = data.shift(1)

data['Open_0'] = data['Open']
data['STD5_Open_0'] = talib.STDDEV(data['Open'], timeperiod=5)
data['RSI14_Open_0'] = talib.RSI(data['Open'], timeperiod=14)
data['ATR14_0'] = talib.ATR(data_lag1['High'], data_lag1['Low'], data_lag1['Close'], timeperiod=14)

data['High_0'] = data['High']
data['Low_0'] = data['Low']

data_out = data.copy()
data_out = data_out.dropna()
data_out = data_out.drop(['Open', 'High', 'Low', 'Close'], axis=1)
data_out.to_csv('eurusd_dataset.csv', index=False)
data_out.to_csv('../eurusd_dataset.csv', index=False)

data_out

,Date,Open_0,STD5_Open_0,RSI14_Open_0,ATR14_0,High_0,Low_0
15,"Jan 22, 2010",1.4080,0.012424,37.911025,0.014679,1.4182,1.4065
16,"Jan 25, 2010",1.4161,0.011589,43.082121,0.014466,1.4199,1.4128
17,"Jan 26, 2010",1.4150,0.007287,42.563679,0.013940,1.4181,1.4042
18,"Jan 27, 2010",1.4075,0.003534,39.108088,0.013937,1.4098,1.3994
19,"Jan 28, 2010",1.4021,0.005187,36.792007,0.013684,1.4053,1.3936
...,...,...,...,...,...,...,...
3065,"Oct 01, 2021",1.1582,0.005662,26.399348,0.005308,1.1608,1.1563
3066,"Oct 04, 2021",1.1593,0.004898,28.744404,0.005250,1.1641,1.1587
3067,"Oct 05, 2021",1.1623,0.003639,34.841921,0.005261,1.1623,1.1580
3068,"Oct 06, 2021",1.1603,0.001360,32.825248,0.005192,1.1605,1.1529
3069,"Oct 07, 2021",1.1556,0.002226,28.631267,0.005364,1.1573,1.1547